{% extends 'Base.html' %}
{% load static %}
{% block content %}

<style>
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_add{
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    max-width: 800px;
    width: 100%;   
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;  
}

.card_add h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card_add p {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card_add input, .card_add select, .card_add textarea {
    width: 80%; 
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card_add button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9e5b7a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.card_add button:hover {
    background-color: #7a4160;
}

</style>

<div class="card_add">
    <h1>Edit Recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p><label for="id_title">Title:</label>
        {{ form.title }}</p>

        <p><label for="id_ingredients">Ingredients:</label>
        {{ form.ingredients }}</p>

        <p><label for="id_steps">Steps:</label>
        {{ form.steps }}</p>

        <p><label for="id_image">Image:</label>
        {{ form.image }}</p>

        <p><label for="id_prep_time">Preparation Time (minutes):</label>
        {{ form.prep_time }}</p>

        <p><label for="id_category">Category:</label>
        {{ form.category }}</p>

        <p><label for="id_rating">Rating (0-5):</label>
        {{ form.rating }}</p>

        <button type="submit">Save Changes</button>
    </form>
</div>

{% endblock content %}
