{% extends 'Base.html' %}
{% load static %}

{% block content %}

<h1>Welcome to Recipe Home Page 🍳</h1>

{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
{% else %}
    <p>Hello, Guest! Please <a href="{% url 'login' %}">login</a> to access more features.</p>
{% endif %}

<h1> All Recipes</h1>
{% for recipe in recipes %}
    <div class="recipe-card">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            <h2><a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a></h2>
        {% endif %}
    </div>
{% empty %}
    <p>No recipes available.</p>
{% endfor %}

{% endblock content %}
