body {
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    
}
main {
    flex: 1; 
}
.navbar {
    background-color: rgb(158, 91, 122);
    display:flex;
    justify-content: space-between;
    padding: 20px 20px;
    text-align: right;
}
.nav-links{
    display: flex;
    gap: 15px;
}
.footer {
    background-color: rgb(158, 91, 122);
    padding: 20px ;
    margin-bottom: 7px;
    text-align: center;
}
.site-name p{
font-weight: bold;
font-size: 25px;
font-family: 'lucida calligraphy';
text-align: left;
margin : 0;
}
.site-icon {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
nav {
    background-color: white;
    padding : 10 px;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: rgb(211, 161, 22);
}
nav a.active {
    color: rgb(143, 38, 38);
    text-decoration: underline;
}
nav button {
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
nav form {
    display: inline;
}

.container{
    display:flex;
    gap:19px;
    flex-wrap: wrap;
}
.left.card {
    flex:0.4;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;         
    max-width: 400px;     
    overflow: hidden;
}

.left.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
.left {
    flex:.4;
}
 

.right{
    flex:1;
}
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr); 
    gap: 50px;
    padding: 30px;
    justify-items: center; }

.card{
     background-color: white;
    padding: 15px;
    margin: 10px;
        height: 600px;
overflow: hidden;
        text-align: center;
        box-shadow: 0 4px 6px  rgba(0,0,0,0.1) ;
        width: 100%; }
 .card img {
     object-fit: cover;
    display: block;
    margin-bottom: 10px;
     width: 100%;
     height:500px;}
    
    .remove-btn {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}